mixin footer
    .footer
        .row-footer
            .footer-col-50
                p.copy Vietnamese Kitchen @copyright 2018.  All rights reserved.
            .footer-col-50
                p.contact  
                    a(href='/contact') Contact Us
                    span           
                        i(class="fab fa-facebook-square")              
                        i(class="fab fa-instagram")
                        i(class="fab fa-twitter-square")        
        
        
