extends ./layout.pug
include sub-mixin
include menu-mixin
include product-mixin
block menu
    +subscription
    +menu
block scripts
    link(href='/css/index.css', rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(href='/css/nav.css', rel='stylesheet')
    
block content
    .hovereffect
        img(class="img-responsive" src="img/home.jpg" alt="Please wait")
        .overlay
            h1 FRESH GREEN AND HEALTHY
            a(class="info" href ='/menu' target='_self') Order here
block foot
    div Reserve for footer place 