extends ./layout.pug
include sub-mixin
include menu-mixin
include footer-mixin
block scripts
    link(href='/css/menu.css', rel='stylesheet')
    link(href='/css/nav.css', rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    script(src='/js/subscription.js')
block menu
    +subscription
    +menu
block content
   
    img(class="img-responsive" src="img/menu.png" alt="Please wait")
    .products
        each product in products
            - var link= 'add-to-cart/' + product._id
            .starter-menu
                .starter-image
                    h5 #{product.name} 
                    img(src=product.imagePath, class='image', alt='image is loading.Please wait!')
                    .product-info Price: $ #{product.price}
                        .add-to-cart
                            <i class="fas fa-shopping-cart"></i>       
                            a(href= link ) Add to Cart
                          
            
                    
block foot
   +footer