mixin menu
    ul.nav-group
        li.nav
            a(href='/') Home
        li.nav-dropdown
            a.nav-dropbtn(href='javascript:void(0)') Menu
            .nav-dropdown-content
                a(href='/menu') Starter
                a(href='/menu2') Main Course
                a(href='/menu3') Dessert
        li.nav
            a(href='/about') About Us
        li.nav
            a(href='/contact') Contact Us
      

      
          
