mixin menu
    ul
        li
            a(href='/') Home
        li.dropdown
            a.dropbtn(href='javascript:void(0)') Menu
            .dropdown-content
                a(href='/menu') Starter
                a(href='/menu2') Main Course
                a(href='/menu3') Dessert
        li
            a(href='/about') About Us
        li
            a(href='/contact') Contact Us
      
          
