extends ./layout.pug
include sub-mixin
include menu-mixin
include product-mixin
block menu
    +subscription
    +menu
block scripts
    link(href='/css/index.css', rel='stylesheet')
    link(href='/css/nav.css', rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    script(src='/js/subscription.js')
block content
    h1 User Profile
    h2 Thank you for your subscription. A confirmation was sent to your email: #{email}.
    