extends ./layout.pug
include sub-mixin
include menu-mixin
include footer-mixin
block menu
    +subscription
    +menu
block scripts
    link(href='/css/nav.css', rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css')
    link(href='/css/signup.css', rel='stylesheet')
    script(src='/js/subscription.js')
block content
  .row
    .card-picture
      img(src='img/loyalty card.jpg', id='loyal', alt='image is loading.Please wait!')
    .form-style-10
    
      h1
        | Sign In!
        span Log in your profile to order today menu.
      if hasErrors
          .warning
            p= messages
      form(action= "/signin" method="POST" value=csrfToken)
        .section
          span 1
          | Email 
        .inner-wrap
          label
            | Email Address 
            input(type='email' name='email')
        .section
          span 2
          | Passwords
        .inner-wrap
          label
            | Password 
            input(type='password' name='password')
        .button-section
          input(type='submit' name='Sign In' value='Sign In')
        p
          | Do not have an account. Register today!!!
          a(href ='/signup') Sign Up
      p= csrfToken
block foot
    +footer