extends ./layout.pug
include menu-mixin
block header
block menu
    +menu
block content
    h1 SUBSCRIPTION CONFIRMATION
    h2 Thank you for your subscription. A confirmation was sent to your email: #{email} and phone number:#{phone}  and we will send you promotion code shortly.
    
  
block foot
    div Reserve for footer place
